##### Plan in here: To get basic age info and then see how salary is affected at diff ages..
Eg. find out age range.. and then come up with age categories to work out.. ^^ the next more specific things..

In [34]:
import pandas as pd
from tabulate import tabulate
salary_df = pd.read_csv("Salary.csv")
print(salary_df.head(10)) #? Don't need to display these for all of them just creates unnessecary clutter!!

    Age  Gender  Education Level              Job Title  Years of Experience  \
0  32.0    Male                1      Software Engineer                  5.0
1  28.0  Female                2           Data Analyst                  3.0
2  45.0    Male                3                Manager                 15.0
3  36.0  Female                1        Sales Associate                  7.0
4  52.0    Male                2               Director                 20.0
5  29.0    Male                1      Marketing Analyst                  2.0
6  42.0  Female                2        Product Manager                 12.0
7  31.0    Male                1          Sales Manager                  4.0
8  26.0  Female                1  Marketing Coordinator                  1.0
9  38.0    Male                3              Scientist                 10.0

     Salary    Country        Race  Senior
0   90000.0         UK       White       0
1   65000.0        USA    Hispanic       0
2  150000.0     Canada       White       1
3   60000.0        USA    Hispanic       0
4  200000.0        USA       Asian       0
5   55000.0        USA    Hispanic       0
6  120000.0        USA       Asian       0
7   80000.0      China      Korean       0
8   45000.0      China     Chinese       0
9  110000.0  Australia  Australian       1

In [35]:
# How many in each brother...
#? Can't decide whether I need to seperate count for meale and female as well!!
age_20_29 = salary_df[(salary_df['Age'] > 19) & (salary_df['Age'] < 30)].Salary.count() #* Can't write inequalities the chill way fam can ya!!
age_30_39 = salary_df[(salary_df['Age'] > 29) & (salary_df['Age'] < 40)].Salary.count()
age_40_49 = salary_df[(salary_df['Age'] > 39) & (salary_df['Age'] < 50)].Salary.count()
age_50_59 = salary_df[(salary_df['Age'] > 49) & (salary_df['Age'] < 60)].Salary.count()
age_60_69 = salary_df[(salary_df['Age'] > 59) & (salary_df['Age'] < 70)].Salary.count()

#todo: This is the sorta thing that instead of being visualised in stupid print statements I nice little bar graph could be used...
print(age_20_29)
print(age_30_39)
print(age_40_49)
print(age_50_59)
print(age_60_69) # That's pretty useless so I can probably just call it a 50+ age!

#? Just checking total count for each as well and maybe if there's a difference there than I might have to adjust that for ^^ m v f
female_total = salary_df[salary_df.Gender == "Female"].Salary.count()
male_total = salary_df[salary_df.Gender == "Male"].Salary.count()
print(female_total, male_total) #* Similar enough no need for any drastic changes I don't think sonny boy!!

2439
2811
1163
259
12
3013 3671

In [36]:
# Let's find that basic info ayyy
age_male_min = salary_df[salary_df.Gender == "Male"].Age.min()
age_male_max = salary_df[salary_df.Gender == "Male"].Age.max()
age_female_min = salary_df[salary_df.Gender == "Female"].Age.min()
age_female_max = salary_df[salary_df.Gender == "Female"].Age.max()

print(f"The min and max male ages are {age_male_min} & {age_male_max}")
print(f"The min and max female ages are {age_female_min} & {age_female_max}")

The min and max male ages are 22.0 & 62.0
The min and max female ages are 21.0 & 60.0

In [37]:
# Lets find the male v female salary's: mean, median, range and std for all diff age ranges!!
#? Would it be easier if I had a male and female dataframe? to use probably...
#! Everyone take note of what's happening here!!
male_df = salary_df[salary_df.Gender == "Male"]
female_df = salary_df[salary_df.Gender == "Female"]
print(male_df.head(10)) #* How bloody fucking good heyy

     Age Gender  Education Level             Job Title  Years of Experience  \
0   32.0   Male                1     Software Engineer                  5.0
2   45.0   Male                3               Manager                 15.0
4   52.0   Male                2              Director                 20.0
5   29.0   Male                1     Marketing Analyst                  2.0
7   31.0   Male                1         Sales Manager                  4.0
9   38.0   Male                3             Scientist                 10.0
10  29.0   Male                2    Software Developer                  3.0
12  35.0   Male                1     Financial Analyst                  6.0
14  27.0   Male                1  Customer Service Rep                  2.0
15  44.0   Male                1    Operations Manager                 16.0

      Salary    Country        Race  Senior
0    90000.0         UK       White       0
2   150000.0     Canada       White       1
4   200000.0        USA       Asian       0
5    55000.0        USA    Hispanic       0
7    80000.0      China      Korean       0
9   110000.0  Australia  Australian       1
10   75000.0         UK       Welsh       0
12   65000.0      China      Korean       0
14   40000.0     Canada       Asian       0
15  125000.0      China     Chinese       0

In [38]:
# Now let's find mean and median for each age range in both df's!!!
age_20_29 = salary_df[(salary_df['Age'] > 19) & (salary_df['Age'] < 30)].Salary.count() #* Can't write inequalities the chill way fam can ya!!
male_20_29_mean = round(male_df[(male_df.Age > 19) & (male_df.Age <  30)].Salary.mean(), 2)
male_30_39_mean = round(male_df[(male_df.Age > 29) & (male_df.Age <  40)].Salary.mean(), 2)
male_40_49_mean = round(male_df[(male_df.Age > 39) & (male_df.Age <  50)].Salary.mean(), 2)
male_50_100_mean = round(male_df[(male_df.Age > 49) & (male_df.Age <  100)].Salary.mean(), 2)

female_20_29_mean = round(female_df[(female_df.Age > 19) & (female_df.Age <  30)].Salary.mean(), 2)
female_30_39_mean = round(female_df[(female_df.Age > 29) & (female_df.Age <  40)].Salary.mean(), 2)
female_40_49_mean = round(female_df[(female_df.Age > 39) & (female_df.Age <  50)].Salary.mean(), 2)
female_50_100_mean = round(female_df[(female_df.Age > 49) & (female_df.Age <  100)].Salary.mean(), 2)

#? I don't actually neccessarily need to print these apart from to check their accurate, will be better once I put in a table or graph!!
print(male_20_29_mean, female_20_29_mean)

74294.76 69921.98

In [39]:

#! Median..
male_20_29_median = round(male_df[(male_df.Age > 19) & (male_df.Age <  30)].Salary.median(), 2)
male_30_39_median = round(male_df[(male_df.Age > 29) & (male_df.Age <  40)].Salary.median(), 2)
male_40_49_median = round(male_df[(male_df.Age > 39) & (male_df.Age <  50)].Salary.median(), 2)
male_50_100_median = round(male_df[(male_df.Age > 49) & (male_df.Age <  100)].Salary.median(), 2)

female_20_29_median = round(female_df[(female_df.Age > 19) & (female_df.Age <  30)].Salary.median(), 2)
female_30_39_median = round(female_df[(female_df.Age > 29) & (female_df.Age <  40)].Salary.median(), 2)
female_40_49_median = round(female_df[(female_df.Age > 39) & (female_df.Age <  50)].Salary.median(), 2)
female_50_100_median = round(female_df[(female_df.Age > 49) & (female_df.Age <  100)].Salary.median(), 2)

print(male_20_29_median, female_20_29_median)

70000.0 55000.0

In [40]:

#! Range & STD
male_20_29_std = round(male_df[(male_df.Age > 19) & (male_df.Age <  30)].Salary.std(), 2)
male_30_39_std = round(male_df[(male_df.Age > 29) & (male_df.Age <  40)].Salary.std(), 2)
male_40_49_std = round(male_df[(male_df.Age > 39) & (male_df.Age <  50)].Salary.std(), 2)
male_50_100_std = round(male_df[(male_df.Age > 49) & (male_df.Age <  100)].Salary.std(), 2)

female_20_29_std = round(female_df[(female_df.Age > 19) & (female_df.Age <  30)].Salary.std(), 2)
female_30_39_std = round(female_df[(female_df.Age > 29) & (female_df.Age <  40)].Salary.std(), 2)
female_40_49_std = round(female_df[(female_df.Age > 39) & (female_df.Age <  50)].Salary.std(), 2)
female_50_100_std = round(female_df[(female_df.Age > 49) & (female_df.Age <  100)].Salary.std(), 2)

print(male_30_39_std, female_30_39_std)

#! Range
male_20_29_max = round(male_df[(male_df.Age > 19) & (male_df.Age <  30)].Salary.max(), 2)
male_30_39_max = round(male_df[(male_df.Age > 29) & (male_df.Age <  40)].Salary.max(), 2)
male_40_49_max = round(male_df[(male_df.Age > 39) & (male_df.Age <  50)].Salary.max(), 2)
male_50_100_max = round(male_df[(male_df.Age > 49) & (male_df.Age <  100)].Salary.max(), 2)

female_20_29_max = round(female_df[(female_df.Age > 19) & (female_df.Age <  30)].Salary.max(), 2)
female_30_39_max = round(female_df[(female_df.Age > 29) & (female_df.Age <  40)].Salary.max(), 2)
female_40_49_max = round(female_df[(female_df.Age > 39) & (female_df.Age <  50)].Salary.max(), 2)
female_50_100_max = round(female_df[(female_df.Age > 49) & (female_df.Age <  100)].Salary.max(), 2)

male_20_29_min = round(male_df[(male_df.Age > 19) & (male_df.Age <  30)].Salary.min(), 2)
male_30_39_min = round(male_df[(male_df.Age > 29) & (male_df.Age <  40)].Salary.min(), 2)
male_40_49_min = round(male_df[(male_df.Age > 39) & (male_df.Age <  50)].Salary.min(), 2)
male_50_100_min = round(male_df[(male_df.Age > 49) & (male_df.Age <  100)].Salary.min(), 2)

female_20_29_min = round(female_df[(female_df.Age > 19) & (female_df.Age <  30)].Salary.min(), 2)
female_30_39_min = round(female_df[(female_df.Age > 29) & (female_df.Age <  40)].Salary.min(), 2)
female_40_49_min = round(female_df[(female_df.Age > 39) & (female_df.Age <  50)].Salary.min(), 2)
female_50_100_min = round(female_df[(female_df.Age > 49) & (female_df.Age <  100)].Salary.min(), 2)

male_20_29_diff = male_20_29_max - male_20_29_min
male_30_39_diff = male_30_39_max - male_30_39_min
male_40_49_diff = male_40_49_max - male_40_49_min
male_50_100_diff = male_50_100_max - male_50_100_min

female_20_29_diff =  female_20_29_max - female_20_29_min
female_30_39_diff =  female_20_29_max - female_20_29_min
female_40_49_diff = female_20_29_max - female_20_29_min
female_50_100_diff =  female_20_29_max - female_20_29_min

print(male_50_100_diff, female_50_100_diff)
print(male_40_49_max, female_40_49_max)
print(male_20_29_min, male_20_29_min)

41230.28 43081.29
100000.0 181450.0
250000.0 220000.0
350.0 350.0