##### Plan in here: To get basic age info and then see how salary is affected at diff ages..
Eg. find out age range.. and then come up with age categories to work out.. ^^ the next more specific things..

In [7]:
import pandas as pd
salary_df = pd.read_csv("Salary.csv")
print(salary_df.head(10)) #? Don't need to display these for all of them just creates unnessecary clutter!!

    Age  Gender  Education Level              Job Title  Years of Experience  \
0  32.0    Male                1      Software Engineer                  5.0
1  28.0  Female                2           Data Analyst                  3.0
2  45.0    Male                3                Manager                 15.0
3  36.0  Female                1        Sales Associate                  7.0
4  52.0    Male                2               Director                 20.0
5  29.0    Male                1      Marketing Analyst                  2.0
6  42.0  Female                2        Product Manager                 12.0
7  31.0    Male                1          Sales Manager                  4.0
8  26.0  Female                1  Marketing Coordinator                  1.0
9  38.0    Male                3              Scientist                 10.0

     Salary    Country        Race  Senior
0   90000.0         UK       White       0
1   65000.0        USA    Hispanic       0
2  150000.0     Canada       White       1
3   60000.0        USA    Hispanic       0
4  200000.0        USA       Asian       0
5   55000.0        USA    Hispanic       0
6  120000.0        USA       Asian       0
7   80000.0      China      Korean       0
8   45000.0      China     Chinese       0
9  110000.0  Australia  Australian       1

In [17]:
# How many in each brother...
#? Can't decide whether I need to seperate count for meale and female as well!!
age_20_29 = salary_df[(salary_df['Age'] > 19) & (salary_df['Age'] < 30)].Salary.count() #* Can't write inequalities the chill way fam can ya!!
age_30_39 = salary_df[(salary_df['Age'] > 29) & (salary_df['Age'] < 40)].Salary.count()
age_40_49 = salary_df[(salary_df['Age'] > 39) & (salary_df['Age'] < 50)].Salary.count()
age_50_59 = salary_df[(salary_df['Age'] > 49) & (salary_df['Age'] < 60)].Salary.count()
age_60_69 = salary_df[(salary_df['Age'] > 59) & (salary_df['Age'] < 70)].Salary.count()

#todo: This is the sorta thing that instead of being visualised in stupid print statements I nice little bar graph could be used...
print(age_20_29)
print(age_30_39)
print(age_40_49)
print(age_50_59)
print(age_60_69) # That's pretty useless so I can probably just call it a 50+ age!

#? Just checking total count for each as well and maybe if there's a difference there than I might have to adjust that for ^^ m v f
female_total = salary_df[salary_df.Gender == "Female"].Salary.count()
male_total = salary_df[salary_df.Gender == "Male"].Salary.count()
print(female_total, male_total) #* Similar enough no need for any drastic changes I don't think sonny boy!!

2439
2811
1163
259
12
3013 3671

In [18]:
# Let's find that basic info ayyy
age_male_min = salary_df[salary_df.Gender == "Male"].Age.min()
age_male_max = salary_df[salary_df.Gender == "Male"].Age.max()
age_female_min = salary_df[salary_df.Gender == "Female"].Age.min()
age_female_max = salary_df[salary_df.Gender == "Female"].Age.max()

print(f"The min and max male ages are {age_male_min} & {age_male_max}")
print(f"The min and max female ages are {age_female_min} & {age_female_max}")

The min and max male ages are 22.0 & 62.0
The min and max female ages are 21.0 & 60.0

In [19]:
# Lets find the male v female salary's: mean, median, range and std for all diff age ranges!!
#? Would it be easier if I had a male and female dataframe? to use probably...
#! Everyone take note of what's happening here!!
male_df = salary_df[salary_df.Gender == "Male"]
female_df = salary_df[salary_df.Gender == "Female"]
print(male_df.head(10)) #* How bloody fucking good heyy

     Age Gender  Education Level             Job Title  Years of Experience  \
0   32.0   Male                1     Software Engineer                  5.0
2   45.0   Male                3               Manager                 15.0
4   52.0   Male                2              Director                 20.0
5   29.0   Male                1     Marketing Analyst                  2.0
7   31.0   Male                1         Sales Manager                  4.0
9   38.0   Male                3             Scientist                 10.0
10  29.0   Male                2    Software Developer                  3.0
12  35.0   Male                1     Financial Analyst                  6.0
14  27.0   Male                1  Customer Service Rep                  2.0
15  44.0   Male                1    Operations Manager                 16.0

      Salary    Country        Race  Senior
0    90000.0         UK       White       0
2   150000.0     Canada       White       1
4   200000.0        USA       Asian       0
5    55000.0        USA    Hispanic       0
7    80000.0      China      Korean       0
9   110000.0  Australia  Australian       1
10   75000.0         UK       Welsh       0
12   65000.0      China      Korean       0
14   40000.0     Canada       Asian       0
15  125000.0      China     Chinese       0