In [1]:
import pandas as pd
from tabulate import tabulate #* Don't want to look like a clown using uneseccary imports.... so got rid of other ones..
#? Only other shite I'll have to import is the skits. stats crap..

salary_df = pd.read_csv("Salary.csv")

In [2]:
# Sneaky bit of code to write the salary in nice wayy..
# formatted = "{:,.2f}".format(some_val) #* According to steve the big fella don't need to worry about this until very last step...

In [3]:
print(salary_df.head(10))

    Age  Gender  Education Level              Job Title  Years of Experience  \
0  32.0    Male                1      Software Engineer                  5.0
1  28.0  Female                2           Data Analyst                  3.0
2  45.0    Male                3                Manager                 15.0
3  36.0  Female                1        Sales Associate                  7.0
4  52.0    Male                2               Director                 20.0
5  29.0    Male                1      Marketing Analyst                  2.0
6  42.0  Female                2        Product Manager                 12.0
7  31.0    Male                1          Sales Manager                  4.0
8  26.0  Female                1  Marketing Coordinator                  1.0
9  38.0    Male                3              Scientist                 10.0

     Salary    Country        Race  Senior
0   90000.0         UK       White       0
1   65000.0        USA    Hispanic       0
2  150000.0     Canada       White       1
3   60000.0        USA    Hispanic       0
4  200000.0        USA       Asian       0
5   55000.0        USA    Hispanic       0
6  120000.0        USA       Asian       0
7   80000.0      China      Korean       0
8   45000.0      China     Chinese       0
9  110000.0  Australia  Australian       1

# Wowww This is it goat I'm finally gonna start practicing what it's like in here working an equivalent jupyter notebook file..

In [4]:

#! mean
#* Most basic: Avg salary for male/ female no context!
mean_female_salary = round(salary_df[salary_df["Gender"] == "Female"].Salary.mean(), 2) #* I just realised I actually don't know what currency I'm dealing with in here!!
mean_male_salary = round(salary_df[salary_df["Gender"] == "Male"].Salary.mean(), 2)

print(f"The average male salary is ${mean_male_salary}")
print(f"The average female salary is ${mean_female_salary}")
mean_salary_diff = round(mean_male_salary - mean_female_salary,2)

print(f"The mean salary difference is + ${mean_salary_diff} towards the male", '\n')

The average male salary is $121395.7
The average female salary is $107889.0
The mean salary difference is + $13506.7 towards the male

In [5]:

#! Median
median_female_salary = round(salary_df[salary_df["Gender"] == "Female"].Salary.median(), 2)
median_male_salary = round(salary_df[salary_df["Gender"] == "Male"].Salary.median(), 2)

print(f"The median male salary is ${median_male_salary}")
print(f"The median female salary is ${median_female_salary}")
mean_salary_diff = round(median_male_salary - median_female_salary,2)

print(f"The median salary difference is + ${mean_salary_diff} towards the male", '\n')

The median male salary is $120000.0
The median female salary is $105000.0
The median salary difference is + $15000.0 towards the male

In [6]:

#! Range & std (Changed from variance cause y tf would I want to know the square of the number and not the actual number.......)
min_female_salary = salary_df[salary_df.Gender == "Female"].Salary.min() # Don't need [] you silly boy since it doesn't have spaces in name!!
max_female_salary = salary_df[salary_df.Gender == "Female"].Salary.max()
range_female_salary = max_female_salary - min_female_salary
print(f"The min, max female salary is ${min_female_salary}, ${max_female_salary}, Giving a range of ${range_female_salary}")

min_male_salary = salary_df[salary_df.Gender == "Male"].Salary.min() 
max_male_salary = salary_df[salary_df.Gender == "Male"].Salary.max()
range_male_salary = max_male_salary - min_male_salary
print(f"The min, max fale salary is ${min_male_salary}, ${max_male_salary}, Giving a range of ${range_male_salary}", '\n')


std_female_salary = round(salary_df[salary_df.Gender == "Female"].Salary.std(), 2)
std_male_salary = round(salary_df[salary_df.Gender == "Male"].Salary.std(),2)
print(f"The standard deviation of female salary is {std_female_salary}") 
print(f"The standard deviation of male salary is {std_male_salary}")

#? Quick Test of formatter..
formatted_std_male = "{:,.2f}".format(std_male_salary)
print(f"The formatted standard deviation for males is {formatted_std_male}")

The min, max female salary is $500.0, $220000.0, Giving a range of $219500.0
The min, max fale salary is $350.0, $250000.0, Giving a range of $249650.0

The standard deviation of female salary is 52723.61
The standard deviation of male salary is 52098.63
The formatted standard deviation for males is 52,098.63

## Before I forget trying to work out what constitutes as low vs high std ... Couldn't quite figure it out..
68-95-99.7 Rule (Empirical Rule):
For a normally distributed dataset, approximately 68% of data falls within one standard deviation of the mean, 95% within two standard deviations, and 99.7% within three standard deviations.

In [7]:

#todo: I think this is the part where I should format the values so their more readable!!!
table_data = [
    ["Mean", mean_male_salary, mean_female_salary],
    ["Median", median_male_salary, median_female_salary],
    ["STD", std_male_salary, std_female_salary],
    ["Max", max_male_salary, max_female_salary],
    ["Min", min_male_salary, min_female_salary],
    ["Range", range_male_salary, range_female_salary]
]

table_headers = ["Salary Metrics", "Male", "Female"]
table = tabulate(table_data, table_headers, tablefmt="fancy_grid")
print(table)

╒══════════════════╤══════════╤══════════╕
│ Salary Metrics   │     Male │   Female │
╞══════════════════╪══════════╪══════════╡
│ Mean             │ 121396   │ 107889   │
├──────────────────┼──────────┼──────────┤
│ Median           │ 120000   │ 105000   │
├──────────────────┼──────────┼──────────┤
│ STD              │  52098.6 │  52723.6 │
├──────────────────┼──────────┼──────────┤
│ Max              │ 250000   │ 220000   │
├──────────────────┼──────────┼──────────┤
│ Min              │    350   │    500   │
├──────────────────┼──────────┼──────────┤
│ Range            │ 249650   │ 219500   │
╘══════════════════╧══════════╧══════════╛

In [8]:
formatted_table_data = []  

for row in table_data:
    formatted_row = []
    for value in row:
        if isinstance(value, (int, float)):
            formatted_value = f"{value:,.2f}"
        elif isinstance(value, str):
            formatted_value = value  
        else:
            formatted_value = str(value)  
        formatted_row.append(formatted_value)
    formatted_table_data.append(formatted_row)  

table_headers = ["Salary Metrics", "Male", "Female"]
table = tabulate(formatted_table_data, table_headers, tablefmt="fancy_grid")
print(table)

formatted_table_data = []

for row in table_data:
    formatted_row = []
    for value in row:
        if isinstance(value, (int, float)):
            formatted_value = f"${round(value):,.0f}"  # Round to nearest whole number and add $ sign
        elif isinstance(value, str):
            formatted_value = value  
        else:
            formatted_value = str(value)  
        formatted_row.append(formatted_value)
    formatted_table_data.append(formatted_row)

table_headers = ["Salary Metrics", "Male", "Female"]
table = tabulate(formatted_table_data, table_headers, tablefmt="fancy_grid")

print(table)


#todo: Will have to check which form is best practice to write and I think it would be good to have these all on 1 page with a title in between
#? And I could have the formatted data on their respective files then import all that data to the tables file...

╒══════════════════╤════════════╤════════════╕
│ Salary Metrics   │ Male       │ Female     │
╞══════════════════╪════════════╪════════════╡
│ Mean             │ 121,395.70 │ 107,889.00 │
├──────────────────┼────────────┼────────────┤
│ Median           │ 120,000.00 │ 105,000.00 │
├──────────────────┼────────────┼────────────┤
│ STD              │ 52,098.63  │ 52,723.61  │
├──────────────────┼────────────┼────────────┤
│ Max              │ 250,000.00 │ 220,000.00 │
├──────────────────┼────────────┼────────────┤
│ Min              │ 350.00     │ 500.00     │
├──────────────────┼────────────┼────────────┤
│ Range            │ 249,650.00 │ 219,500.00 │
╘══════════════════╧════════════╧════════════╛
╒══════════════════╤══════════╤══════════╕
│ Salary Metrics   │ Male     │ Female   │
╞══════════════════╪══════════╪══════════╡
│ Mean             │ $121,396 │ $107,889 │
├──────────────────┼──────────┼──────────┤
│ Median           │ $120,000 │ $105,000 │
├──────────────────┼──────────┼──────────┤
│ STD              │ $52,099  │ $52,724  │
├──────────────────┼──────────┼──────────┤
│ Max              │ $250,000 │ $220,000 │
├──────────────────┼──────────┼──────────┤
│ Min              │ $350     │ $500     │
├──────────────────┼──────────┼──────────┤
│ Range            │ $249,650 │ $219,500 │
╘══════════════════╧══════════╧══════════╛

In [9]:
import sys
print(sys.version)

3.9.6 (default, Aug 11 2023, 19:44:49)
[Clang 15.0.0 (clang-1500.0.40.1)]