In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import csv
#? Only other shite I'll have to import is the skits. stats crap..

salary_df = pd.read_csv("Salary.csv")

In [15]:
print(salary_df.head(5))

    Age  Gender  Education Level          Job Title  Years of Experience  \
0  32.0    Male                1  Software Engineer                  5.0
1  28.0  Female                2       Data Analyst                  3.0
2  45.0    Male                3            Manager                 15.0
3  36.0  Female                1    Sales Associate                  7.0
4  52.0    Male                2           Director                 20.0

     Salary Country      Race  Senior
0   90000.0      UK     White       0
1   65000.0     USA  Hispanic       0
2  150000.0  Canada     White       1
3   60000.0     USA  Hispanic       0
4  200000.0     USA     Asian       0

# Wowww This is it goat I'm finally gonna start practicing what it's like in here working an equivalent jupyter notebook file..

In [16]:

#! mean
#* Most basic: Avg salary for male/ female no context!
mean_female_salary = salary_df[salary_df["Gender"] == "Female"].Salary.mean() #* I just realised I actually don't know what currency I'm dealing with in here!!
mean_male_salary = salary_df[salary_df["Gender"] == "Male"].Salary.mean()

print(f"The average male salary is ${round(mean_male_salary, 2)}")
print(f"The average female salary is ${round(mean_female_salary, 2)}")
mean_salary_diff = round(mean_male_salary - mean_female_salary,2)

print(f"The mean salary difference is + ${mean_salary_diff} towards the male", '\n')

The average male salary is $121395.7
The average female salary is $107889.0
The mean salary difference is + $13506.7 towards the male

In [17]:
median_female_salary = salary_df[salary_df["Gender"] == "Female"].Salary.median() 
median_male_salary = salary_df[salary_df["Gender"] == "Male"].Salary.median()

print(f"The median male salary is ${round(median_male_salary, 2)}")
print(f"The median female salary is ${round(median_female_salary, 2)}")
mean_salary_diff = round(median_male_salary - median_female_salary,2)

print(f"The median salary difference is + ${mean_salary_diff} towards the male", '\n')

The median male salary is $120000.0
The median female salary is $105000.0
The median salary difference is + $15000.0 towards the male