# Welcome to Ages exploration...

In [1]:
import pandas as pd
from tabulate import tabulate
salary_df = pd.read_csv("Salary.csv")
male_df = salary_df[salary_df.Gender == "Male"]
female_df = salary_df[salary_df.Gender == "Female"]

In [2]:
# Working out best Age Range to use
age_20_29 = salary_df[(salary_df['Age'] > 19) & (salary_df['Age'] < 30)].Salary.count() 
age_30_39 = salary_df[(salary_df['Age'] > 29) & (salary_df['Age'] < 40)].Salary.count()
age_40_49 = salary_df[(salary_df['Age'] > 39) & (salary_df['Age'] < 50)].Salary.count()
age_50_59 = salary_df[(salary_df['Age'] > 49) & (salary_df['Age'] < 60)].Salary.count()
age_60_69 = salary_df[(salary_df['Age'] > 59) & (salary_df['Age'] < 70)].Salary.count()
print(age_20_29, age_30_39, age_40_49, age_50_59, age_60_69) #* Minimal in last therefor make 50+

#? Checking total count for male and female
female_total = salary_df[salary_df.Gender == "Female"].Salary.count()
male_total = salary_df[salary_df.Gender == "Male"].Salary.count()
print(female_total, male_total) #* Similar enough no need for any drastic changes I don't think sonny boy!!

2439 2811 1163 259 12
3013 3671

In [3]:
# Find Basic age info
age_male_min = salary_df[salary_df.Gender == "Male"].Age.min()
age_male_max = salary_df[salary_df.Gender == "Male"].Age.max()
age_female_min = salary_df[salary_df.Gender == "Female"].Age.min()
age_female_max = salary_df[salary_df.Gender == "Female"].Age.max()

print(f"The min and max male ages are {age_male_min} & {age_male_max}")
print(f"The min and max female ages are {age_female_min} & {age_female_max}")

The min and max male ages are 22.0 & 62.0
The min and max female ages are 21.0 & 60.0

In [4]:
#! Mean
male_20_29_mean = round(male_df[(male_df.Age > 19) & (male_df.Age <  30)].Salary.mean(), 2)
male_30_39_mean = round(male_df[(male_df.Age > 29) & (male_df.Age <  40)].Salary.mean(), 2)
male_40_49_mean = round(male_df[(male_df.Age > 39) & (male_df.Age <  50)].Salary.mean(), 2)
male_50_100_mean = round(male_df[(male_df.Age > 49) & (male_df.Age <  100)].Salary.mean(), 2)

female_20_29_mean = round(female_df[(female_df.Age > 19) & (female_df.Age <  30)].Salary.mean(), 2)
female_30_39_mean = round(female_df[(female_df.Age > 29) & (female_df.Age <  40)].Salary.mean(), 2)
female_40_49_mean = round(female_df[(female_df.Age > 39) & (female_df.Age <  50)].Salary.mean(), 2)
female_50_100_mean = round(female_df[(female_df.Age > 49) & (female_df.Age <  100)].Salary.mean(), 2)

#! Median
male_20_29_median = round(male_df[(male_df.Age > 19) & (male_df.Age <  30)].Salary.median(), 2)
male_30_39_median = round(male_df[(male_df.Age > 29) & (male_df.Age <  40)].Salary.median(), 2)
male_40_49_median = round(male_df[(male_df.Age > 39) & (male_df.Age <  50)].Salary.median(), 2)
male_50_100_median = round(male_df[(male_df.Age > 49) & (male_df.Age <  100)].Salary.median(), 2)

female_20_29_median = round(female_df[(female_df.Age > 19) & (female_df.Age <  30)].Salary.median(), 2)
female_30_39_median = round(female_df[(female_df.Age > 29) & (female_df.Age <  40)].Salary.median(), 2)
female_40_49_median = round(female_df[(female_df.Age > 39) & (female_df.Age <  50)].Salary.median(), 2)
female_50_100_median = round(female_df[(female_df.Age > 49) & (female_df.Age <  100)].Salary.median(), 2)

#! Standard Devitaion
male_20_29_std = round(male_df[(male_df.Age > 19) & (male_df.Age <  30)].Salary.std(), 2)
male_30_39_std = round(male_df[(male_df.Age > 29) & (male_df.Age <  40)].Salary.std(), 2)
male_40_49_std = round(male_df[(male_df.Age > 39) & (male_df.Age <  50)].Salary.std(), 2)
male_50_100_std = round(male_df[(male_df.Age > 49) & (male_df.Age <  100)].Salary.std(), 2)

female_20_29_std = round(female_df[(female_df.Age > 19) & (female_df.Age <  30)].Salary.std(), 2)
female_30_39_std = round(female_df[(female_df.Age > 29) & (female_df.Age <  40)].Salary.std(), 2)
female_40_49_std = round(female_df[(female_df.Age > 39) & (female_df.Age <  50)].Salary.std(), 2)
female_50_100_std = round(female_df[(female_df.Age > 49) & (female_df.Age <  100)].Salary.std(), 2)

#! Max
male_20_29_max = round(male_df[(male_df.Age > 19) & (male_df.Age <  30)].Salary.max(), 2)
male_30_39_max = round(male_df[(male_df.Age > 29) & (male_df.Age <  40)].Salary.max(), 2)
male_40_49_max = round(male_df[(male_df.Age > 39) & (male_df.Age <  50)].Salary.max(), 2)
male_50_100_max = round(male_df[(male_df.Age > 49) & (male_df.Age <  100)].Salary.max(), 2)

female_20_29_max = round(female_df[(female_df.Age > 19) & (female_df.Age <  30)].Salary.max(), 2)
female_30_39_max = round(female_df[(female_df.Age > 29) & (female_df.Age <  40)].Salary.max(), 2)
female_40_49_max = round(female_df[(female_df.Age > 39) & (female_df.Age <  50)].Salary.max(), 2)
female_50_100_max = round(female_df[(female_df.Age > 49) & (female_df.Age <  100)].Salary.max(), 2)

#! Min
male_20_29_min = round(male_df[(male_df.Age > 19) & (male_df.Age <  30)].Salary.min(), 2)
male_30_39_min = round(male_df[(male_df.Age > 29) & (male_df.Age <  40)].Salary.min(), 2)
male_40_49_min = round(male_df[(male_df.Age > 39) & (male_df.Age <  50)].Salary.min(), 2)
male_50_100_min = round(male_df[(male_df.Age > 49) & (male_df.Age <  100)].Salary.min(), 2)

female_20_29_min = round(female_df[(female_df.Age > 19) & (female_df.Age <  30)].Salary.min(), 2)
female_30_39_min = round(female_df[(female_df.Age > 29) & (female_df.Age <  40)].Salary.min(), 2)
female_40_49_min = round(female_df[(female_df.Age > 39) & (female_df.Age <  50)].Salary.min(), 2)
female_50_100_min = round(female_df[(female_df.Age > 49) & (female_df.Age <  100)].Salary.min(), 2)

#! Diff
male_20_29_diff = male_20_29_max - male_20_29_min
male_30_39_diff = male_30_39_max - male_30_39_min
male_40_49_diff = male_40_49_max - male_40_49_min
male_50_100_diff = male_50_100_max - male_50_100_min

female_20_29_diff =  female_20_29_max - female_20_29_min
female_30_39_diff =  female_20_29_max - female_20_29_min
female_40_49_diff = female_20_29_max - female_20_29_min
female_50_100_diff =  female_20_29_max - female_20_29_min

In [5]:
mean_table = [
    ["Age 20 - 29", male_20_29_mean, female_20_29_mean],
    ["Age 30 - 39", male_30_39_mean, female_30_39_mean],
    ["Age 40 - 49", male_40_49_mean, female_40_49_mean],
    ["Age 50+ ", male_50_100_mean, female_50_100_mean]
]
median_table = [
    ["Age 20 - 29", male_20_29_median, female_20_29_median],
    ["Age 30 - 39", male_30_39_median, female_30_39_median],
    ["Age 40 - 49", male_40_49_median, female_40_49_median],
    ["Age 50+ ", male_50_100_median, female_50_100_median]
]
std_table = [
    ["Age 20 - 29", male_20_29_std, female_20_29_std],
    ["Age 30 - 39", male_30_39_std, female_30_39_std],
    ["Age 40 - 49", male_40_49_std, female_40_49_std],
    ["Age 50+ ", male_50_100_std, female_50_100_std]
]
max_table = [
    ["Age 20 - 29", male_20_29_max, female_20_29_max],
    ["Age 30 - 39", male_30_39_max, female_30_39_max],
    ["Age 40 - 49", male_40_49_max, female_40_49_max],
    ["Age 50+ ", male_50_100_max, female_50_100_max]
]
min_table = [
    ["Age 20 - 29", male_20_29_min, female_20_29_min],
    ["Age 30 - 39", male_30_39_min, female_30_39_min],
    ["Age 40 - 49", male_40_49_min, female_40_49_min],
    ["Age 50+ ", male_50_100_min, female_50_100_min]
]
diff_table = [
    ["Age 20 - 29", male_20_29_diff, female_20_29_diff],
    ["Age 30 - 39", male_30_39_diff, female_30_39_diff],
    ["Age 40 - 49", male_40_49_diff, female_40_49_diff],
    ["Age 50+ ", male_50_100_diff, female_50_100_diff]
]

def table_creator(table_data):
    formatted_table_data = []
    headers_list = ["Age Groups", "Male", "Female"]

    for row in table_data:
        formatted_row = []
        for value in row:
            if isinstance(value, (int, float)):
                formatted_value = f"{round(value):,.0f}"  
            elif isinstance(value, str):
                formatted_value = value  
            else:
                formatted_value = str(value)  
            formatted_row.append(formatted_value)
        formatted_table_data.append(formatted_row)

    table = tabulate(formatted_table_data, headers_list, tablefmt="fancy_grid")
    return table

#* Making the tables
print("Mean Salary Table")
formatted_table = table_creator(mean_table)
print(formatted_table, '\n')

print("Median Salary Table")
formatted_table = table_creator(median_table)
print(formatted_table, '\n')

print("Standard Deviation Table")
formatted_table = table_creator(std_table)
print(formatted_table, '\n')

print("Maximum Salary Table")
formatted_table = table_creator(max_table)
print(formatted_table, '\n')

print("Minimum Salary Table")
formatted_table = table_creator(min_table)
print(formatted_table, '\n')

print("Salary Range Table")
formatted_table = table_creator(diff_table)
print(formatted_table, '\n')

Mean Salary Table
╒══════════════╤═════════╤══════════╕
│ Age Groups   │ Male    │ Female   │
╞══════════════╪═════════╪══════════╡
│ Age 20 - 29  │ 74,295  │ 69,922   │
├──────────────┼─────────┼──────────┤
│ Age 30 - 39  │ 126,361 │ 121,295  │
├──────────────┼─────────┼──────────┤
│ Age 40 - 49  │ 171,303 │ 158,962  │
├──────────────┼─────────┼──────────┤
│ Age 50+      │ 196,527 │ 183,330  │
╘══════════════╧═════════╧══════════╛

Median Salary Table
╒══════════════╤═════════╤══════════╕
│ Age Groups   │ Male    │ Female   │
╞══════════════╪═════════╪══════════╡
│ Age 20 - 29  │ 70,000  │ 55,000   │
├──────────────┼─────────┼──────────┤
│ Age 30 - 39  │ 125,000 │ 120,000  │
├──────────────┼─────────┼──────────┤
│ Age 40 - 49  │ 180,000 │ 160,000  │
├──────────────┼─────────┼──────────┤
│ Age 50+      │ 195,000 │ 190,000  │
╘══════════════╧═════════╧══════════╛

Standard Deviation Table
╒══════════════╤════════╤══════════╕
│ Age Groups   │ Male   │ Female   │
╞══════════════╪════════╪══════════╡
│ Age 20 - 29  │ 31,917 │ 40,646   │
├──────────────┼────────┼──────────┤
│ Age 30 - 39  │ 41,230 │ 43,081   │
├──────────────┼────────┼──────────┤
│ Age 40 - 49  │ 23,820 │ 30,728   │
├──────────────┼────────┼──────────┤
│ Age 50+      │ 15,866 │ 15,580   │
╘══════════════╧════════╧══════════╛

Maximum Salary Table
╒══════════════╤═════════╤══════════╕
│ Age Groups   │ Male    │ Female   │
╞══════════════╪═════════╪══════════╡
│ Age 20 - 29  │ 180,000 │ 182,000  │
├──────────────┼─────────┼──────────┤
│ Age 30 - 39  │ 198,000 │ 210,000  │
├──────────────┼─────────┼──────────┤
│ Age 40 - 49  │ 250,000 │ 220,000  │
├──────────────┼─────────┼──────────┤
│ Age 50+      │ 250,000 │ 210,000  │
╘══════════════╧═════════╧══════════╛

Minimum Salary Table
╒══════════════╤═════════╤══════════╕
│ Age Groups   │ Male    │ Female   │
╞══════════════╪═════════╪══════════╡
│ Age 20 - 29  │ 350     │ 550      │
├──────────────┼─────────┼──────────┤
│ Age 30 - 39  │ 25,000  │ 500      │
├──────────────┼─────────┼──────────┤
│ Age 40 - 49  │ 105,000 │ 60,000   │
├──────────────┼─────────┼──────────┤
│ Age 50+      │ 150,000 │ 121,450  │
╘══════════════╧═════════╧══════════╛

Salary Range Table
╒══════════════╤═════════╤══════════╕
│ Age Groups   │ Male    │ Female   │
╞══════════════╪═════════╪══════════╡
│ Age 20 - 29  │ 179,650 │ 181,450  │
├──────────────┼─────────┼──────────┤
│ Age 30 - 39  │ 173,000 │ 181,450  │
├──────────────┼─────────┼──────────┤
│ Age 40 - 49  │ 145,000 │ 181,450  │
├──────────────┼─────────┼──────────┤
│ Age 50+      │ 100,000 │ 181,450  │
╘══════════════╧═════════╧══════════╛

## I have some findings!

here they are....