In [9]:
import pandas as pd
from tabulate import tabulate
salary_df = pd.read_csv("Salary.csv") 
male_df = salary_df[salary_df.Gender == "Male"]
female_df = salary_df[salary_df.Gender == "Female"]

In [10]:
# Seeing how many Countries are in Dataframe
diff_countrys_count = salary_df.Country.nunique()

# Checking count of each, to ensure fair sampling
uk_count = salary_df[salary_df.Country == "UK"].Salary.count()
usa_count = salary_df[salary_df.Country == "USA"].Salary.count()
canada_count = salary_df[salary_df.Country == "Canada"].Salary.count()
china_count = salary_df[salary_df.Country == "China"].Salary.count()
australia_count = salary_df[salary_df.Country == "Australia"].Salary.count()

print(uk_count, usa_count, canada_count, china_count, australia_count) #* Nice even sample of each

1332 1356 1322 1339 1335

In [11]:

#! Mean
male_UK_mean = round(male_df[male_df.Country == "UK"].Salary.mean(), 2)
male_USA_mean = round(male_df[male_df.Country == "USA"].Salary.mean(), 2)
male_Canada_mean = round(male_df[male_df.Country == "Canada"].Salary.mean(), 2)
male_China_mean = round(male_df[male_df.Country == "China"].Salary.mean(), 2)
male_Australia_mean = round(male_df[male_df.Country == "Australia"].Salary.mean(), 2)

female_UK_mean = round(female_df[female_df.Country == "UK"].Salary.mean(), 2)
female_USA_mean = round(female_df[female_df.Country == "USA"].Salary.mean(), 2)
female_Canada_mean = round(female_df[female_df.Country == "Canada"].Salary.mean(), 2)
female_China_mean = round(female_df[female_df.Country == "China"].Salary.mean(), 2)
female_Australia_mean = round(female_df[female_df.Country == "Australia"].Salary.mean(), 2)

#! Median
male_UK_median = round(male_df[male_df.Country == "UK"].Salary.median(), 2)
male_USA_median = round(male_df[male_df.Country == "USA"].Salary.median(), 2)
male_Canada_median = round(male_df[male_df.Country == "Canada"].Salary.median(), 2)
male_China_median = round(male_df[male_df.Country == "China"].Salary.median(), 2)
male_Australia_median = round(male_df[male_df.Country == "Australia"].Salary.median(), 2)

female_UK_median = round(female_df[female_df.Country == "UK"].Salary.median(), 2)
female_USA_median = round(female_df[female_df.Country == "USA"].Salary.median(), 2)
female_Canada_median = round(female_df[female_df.Country == "Canada"].Salary.median(), 2)
female_China_median = round(female_df[female_df.Country == "China"].Salary.median(), 2)
female_Australia_median = round(female_df[female_df.Country == "Australia"].Salary.median(), 2)

#! std
male_UK_std = round(male_df[male_df.Country == "UK"].Salary.std(), 2)
male_USA_std = round(male_df[male_df.Country == "USA"].Salary.std(), 2)
male_Canada_std = round(male_df[male_df.Country == "Canada"].Salary.std(), 2)
male_China_std = round(male_df[male_df.Country == "China"].Salary.std(), 2)
male_Australia_std = round(male_df[male_df.Country == "Australia"].Salary.std(), 2)

female_UK_std = round(female_df[female_df.Country == "UK"].Salary.std(), 2)
female_USA_std = round(female_df[female_df.Country == "USA"].Salary.std(), 2)
female_Canada_std = round(female_df[female_df.Country == "Canada"].Salary.std(), 2)
female_China_std = round(female_df[female_df.Country == "China"].Salary.std(), 2)
female_Australia_std = round(female_df[female_df.Country == "Australia"].Salary.std(), 2)

#! Max
male_UK_max = round(male_df[male_df.Country == "UK"].Salary.max(), 2)
male_USA_max = round(male_df[male_df.Country == "USA"].Salary.max(), 2)
male_Canada_max = round(male_df[male_df.Country == "Canada"].Salary.max(), 2)
male_China_max = round(male_df[male_df.Country == "China"].Salary.max(), 2)
male_Australia_max = round(male_df[male_df.Country == "Australia"].Salary.max(), 2)

female_UK_max = round(female_df[female_df.Country == "UK"].Salary.max(), 2)
female_USA_max = round(female_df[female_df.Country == "USA"].Salary.max(), 2)
female_Canada_max = round(female_df[female_df.Country == "Canada"].Salary.max(), 2)
female_China_max = round(female_df[female_df.Country == "China"].Salary.max(), 2)
female_Australia_max = round(female_df[female_df.Country == "Australia"].Salary.max(), 2)

#! Min
male_UK_min = round(male_df[male_df.Country == "UK"].Salary.min(), 2)
male_USA_min = round(male_df[male_df.Country == "USA"].Salary.min(), 2)
male_Canada_min = round(male_df[male_df.Country == "Canada"].Salary.min(), 2)
male_China_min = round(male_df[male_df.Country == "China"].Salary.min(), 2)
male_Australia_min = round(male_df[male_df.Country == "Australia"].Salary.min(), 2)

female_UK_min = round(female_df[female_df.Country == "UK"].Salary.min(), 2)
female_USA_min = round(female_df[female_df.Country == "USA"].Salary.min(), 2)
female_Canada_min = round(female_df[female_df.Country == "Canada"].Salary.min(), 2)
female_China_min = round(female_df[female_df.Country == "China"].Salary.min(), 2)
female_Australia_min = round(female_df[female_df.Country == "Australia"].Salary.min(), 2)

#! Range 
male_UK_diff = male_UK_max - male_UK_min
male_USA_diff = male_USA_max - male_USA_min
male_Canada_diff = male_Canada_max - male_Canada_min
male_China_diff = male_China_max - male_China_min
male_Australia_diff = male_Australia_max - male_Australia_min

female_UK_diff = female_UK_max - female_UK_min
female_USA_diff = female_USA_max - female_USA_min
female_Canada_diff = female_Canada_max - female_Canada_min
female_China_diff = female_China_max - female_China_min
female_Australia_diff = female_Australia_max - female_Australia_min

In [12]:
#* Table data
mean_table = [
    ["UK", male_UK_mean, female_UK_mean],
    ["USA", male_USA_mean, female_USA_mean],
    ["Canada", male_Canada_mean, female_Canada_mean],
    ["China", male_China_mean, female_China_mean],
    ["Australia", male_Australia_mean, female_Australia_mean]
]
median_table = [
    ["UK", male_UK_median, female_UK_median],
    ["USA", male_USA_median, female_USA_median],
    ["Canada", male_Canada_median, female_Canada_median],
    ["China", male_China_median, female_China_median],
    ["Australia", male_Australia_median, female_Australia_median]
]
std_table = [
    ["UK", male_UK_std, female_UK_std],
    ["USA", male_USA_std, female_USA_std],
    ["Canada", male_Canada_std, female_Canada_std],
    ["China", male_China_std, female_China_std],
    ["Australia", male_Australia_std, female_Australia_std]
]
min_table = [
    ["UK", male_UK_min, female_UK_min],
    ["USA", male_USA_min, female_USA_min],
    ["Canada", male_Canada_min, female_Canada_min],
    ["China", male_China_min, female_China_min],
    ["Australia", male_Australia_min, female_Australia_min]
]
max_table = [
    ["UK", male_UK_max, female_UK_max],
    ["USA", male_USA_max, female_USA_max],
    ["Canada", male_Canada_max, female_Canada_max],
    ["China", male_China_max, female_China_max],
    ["Australia", male_Australia_max, female_Australia_max]
]
diff_table = [
    ["UK", male_UK_diff, female_UK_diff],
    ["USA", male_USA_diff, female_USA_diff],
    ["Canada", male_Canada_diff, female_Canada_diff],
    ["China", male_China_diff, female_China_diff],
    ["Australia", male_Australia_diff, female_Australia_diff]
]

def table_creator(table_data):
    formatted_table_data = []
    headers_list = ["Age Groups", "Male", "Female"]

    for row in table_data:
        formatted_row = []
        for value in row:
            if isinstance(value, (int, float)):
                formatted_value = f"{round(value):,.0f}"  
            elif isinstance(value, str):
                formatted_value = value  
            else:
                formatted_value = str(value)  
            formatted_row.append(formatted_value)
        formatted_table_data.append(formatted_row)

    table = tabulate(formatted_table_data, headers_list, tablefmt="fancy_grid")
    return table

print("Mean Salary Table")
formatted_table = table_creator(mean_table)
print(formatted_table, '\n')

print("Median Salary Table")
formatted_table = table_creator(median_table)
print(formatted_table, '\n')

print("Standard Deviation Table")
formatted_table = table_creator(std_table)
print(formatted_table, '\n')

print("Maximum Salary Table")
formatted_table = table_creator(max_table)
print(formatted_table, '\n')

print("Minimum Salary Table")
formatted_table = table_creator(min_table)
print(formatted_table, '\n')

print("Salary Range Table")
formatted_table = table_creator(diff_table)
print(formatted_table, '\n')

Mean Salary Table
╒══════════════╤═════════╤══════════╕
│ Age Groups   │ Male    │ Female   │
╞══════════════╪═════════╪══════════╡
│ UK           │ 122,206 │ 108,457  │
├──────────────┼─────────┼──────────┤
│ USA          │ 119,683 │ 104,993  │
├──────────────┼─────────┼──────────┤
│ Canada       │ 123,982 │ 106,885  │
├──────────────┼─────────┼──────────┤
│ China        │ 120,226 │ 111,291  │
├──────────────┼─────────┼──────────┤
│ Australia    │ 120,897 │ 107,914  │
╘══════════════╧═════════╧══════════╛

Median Salary Table
╒══════════════╤═════════╤══════════╕
│ Age Groups   │ Male    │ Female   │
╞══════════════╪═════════╪══════════╡
│ UK           │ 120,000 │ 105,000  │
├──────────────┼─────────┼──────────┤
│ USA          │ 120,000 │ 100,000  │
├──────────────┼─────────┼──────────┤
│ Canada       │ 130,000 │ 105,000  │
├──────────────┼─────────┼──────────┤
│ China        │ 120,000 │ 110,000  │
├──────────────┼─────────┼──────────┤
│ Australia    │ 120,000 │ 110,000  │
╘══════════════╧═════════╧══════════╛

Standard Deviation Table
╒══════════════╤════════╤══════════╕
│ Age Groups   │ Male   │ Female   │
╞══════════════╪════════╪══════════╡
│ UK           │ 53,065 │ 52,097   │
├──────────────┼────────┼──────────┤
│ USA          │ 51,965 │ 50,719   │
├──────────────┼────────┼──────────┤
│ Canada       │ 51,786 │ 54,038   │
├──────────────┼────────┼──────────┤
│ China        │ 50,744 │ 52,639   │
├──────────────┼────────┼──────────┤
│ Australia    │ 52,985 │ 54,093   │
╘══════════════╧════════╧══════════╛

Maximum Salary Table
╒══════════════╤═════════╤══════════╕
│ Age Groups   │ Male    │ Female   │
╞══════════════╪═════════╪══════════╡
│ UK           │ 240,000 │ 215,000  │
├──────────────┼─────────┼──────────┤
│ USA          │ 240,000 │ 220,000  │
├──────────────┼─────────┼──────────┤
│ Canada       │ 250,000 │ 215,000  │
├──────────────┼─────────┼──────────┤
│ China        │ 240,000 │ 215,000  │
├──────────────┼─────────┼──────────┤
│ Australia    │ 225,000 │ 215,000  │
╘══════════════╧═════════╧══════════╛

Minimum Salary Table
╒══════════════╤════════╤══════════╕
│ Age Groups   │ Male   │ Female   │
╞══════════════╪════════╪══════════╡
│ UK           │ 579    │ 550      │
├──────────────┼────────┼──────────┤
│ USA          │ 350    │ 500      │
├──────────────┼────────┼──────────┤
│ Canada       │ 25,000 │ 25,000   │
├──────────────┼────────┼──────────┤
│ China        │ 26,000 │ 25,000   │
├──────────────┼────────┼──────────┤
│ Australia    │ 25,000 │ 25,000   │
╘══════════════╧════════╧══════════╛

Salary Range Table
╒══════════════╤═════════╤══════════╕
│ Age Groups   │ Male    │ Female   │
╞══════════════╪═════════╪══════════╡
│ UK           │ 239,421 │ 214,450  │
├──────────────┼─────────┼──────────┤
│ USA          │ 239,650 │ 219,500  │
├──────────────┼─────────┼──────────┤
│ Canada       │ 225,000 │ 190,000  │
├──────────────┼─────────┼──────────┤
│ China        │ 214,000 │ 190,000  │
├──────────────┼─────────┼──────────┤
│ Australia    │ 200,000 │ 190,000  │
╘══════════════╧═════════╧══════════╛

## Wait I have some Extra findings I promise!!
- 
- 
-