# Male Vs Female Salary across different Education Level's
#### The Dataset contained different Education Level's (0, 1, 2, 3) which are equivalent to: High School Education, Bachelor Degree, Master's Degree and Phd
#### Data contains: Mean, median, standard deviation, max, min and range

In [1]:
import pandas as pd
from tabulate import tabulate
salary_df = pd.read_csv("Salary.csv")
male_df = salary_df[salary_df.Gender == "Male"]
female_df = salary_df[salary_df.Gender == "Female"]

In [2]:

#! Mean
male_0_mean = round(male_df[(male_df["Education Level"] == 0)].Salary.mean(), 2)
male_1_mean = round(male_df[(male_df["Education Level"] == 1)].Salary.mean(), 2)
male_2_mean = round(male_df[(male_df["Education Level"] == 2)].Salary.mean(), 2)
male_3_mean = round(male_df[(male_df["Education Level"] == 3)].Salary.mean(), 2)

female_0_mean = round(female_df[(female_df["Education Level"] == 0)].Salary.mean(), 2)
female_1_mean = round(female_df[(female_df["Education Level"] == 1)].Salary.mean(), 2)
female_2_mean = round(female_df[(female_df["Education Level"] == 2)].Salary.mean(), 2)
female_3_mean = round(female_df[(female_df["Education Level"] == 3)].Salary.mean(), 2)

#! Median
male_0_median = round(male_df[(male_df["Education Level"] == 0)].Salary.median(), 2)
male_1_median = round(male_df[(male_df["Education Level"] == 1)].Salary.median(), 2)
male_2_median = round(male_df[(male_df["Education Level"] == 2)].Salary.median(), 2)
male_3_median = round(male_df[(male_df["Education Level"] == 3)].Salary.median(), 2)

female_0_median = round(female_df[(female_df["Education Level"] == 0)].Salary.median(), 2)
female_1_median = round(female_df[(female_df["Education Level"] == 1)].Salary.median(), 2)
female_2_median = round(female_df[(female_df["Education Level"] == 2)].Salary.median(), 2)
female_3_median = round(female_df[(female_df["Education Level"] == 3)].Salary.median(), 2)

#! Standard Deviation
male_0_std = round(male_df[(male_df["Education Level"] == 0)].Salary.std(), 2)
male_1_std = round(male_df[(male_df["Education Level"] == 1)].Salary.std(), 2)
male_2_std = round(male_df[(male_df["Education Level"] == 2)].Salary.std(), 2)
male_3_std = round(male_df[(male_df["Education Level"] == 3)].Salary.std(), 2)

female_0_std = round(female_df[(female_df["Education Level"] == 0)].Salary.std(), 2)
female_1_std = round(female_df[(female_df["Education Level"] == 1)].Salary.std(), 2)
female_2_std = round(female_df[(female_df["Education Level"] == 2)].Salary.std(), 2)
female_3_std = round(female_df[(female_df["Education Level"] == 3)].Salary.std(), 2)

#! Max
male_0_max = round(male_df[(male_df["Education Level"] == 0)].Salary.max(), 2)
male_1_max = round(male_df[(male_df["Education Level"] == 1)].Salary.max(), 2)
male_2_max = round(male_df[(male_df["Education Level"] == 2)].Salary.max(), 2)
male_3_max = round(male_df[(male_df["Education Level"] == 3)].Salary.max(), 2)

female_0_max = round(female_df[(female_df["Education Level"] == 0)].Salary.max(), 2)
female_1_max = round(female_df[(female_df["Education Level"] == 1)].Salary.max(), 2)
female_2_max = round(female_df[(female_df["Education Level"] == 2)].Salary.max(), 2)
female_3_max = round(female_df[(female_df["Education Level"] == 3)].Salary.max(), 2)

#! Min
male_0_min = round(male_df[(male_df["Education Level"] == 0)].Salary.min(), 2)
male_1_min = round(male_df[(male_df["Education Level"] == 1)].Salary.min(), 2)
male_2_min = round(male_df[(male_df["Education Level"] == 2)].Salary.min(), 2)
male_3_min = round(male_df[(male_df["Education Level"] == 3)].Salary.min(), 2)

female_0_min = round(female_df[(female_df["Education Level"] == 0)].Salary.min(), 2)
female_1_min = round(female_df[(female_df["Education Level"] == 1)].Salary.min(), 2)
female_2_min = round(female_df[(female_df["Education Level"] == 2)].Salary.min(), 2)
female_3_min = round(female_df[(female_df["Education Level"] == 3)].Salary.min(), 2)

#! Range
male_0_diff = male_0_max - male_0_min
male_1_diff = male_1_max - male_1_min
male_2_diff = male_2_max - male_2_min
male_3_diff = male_3_max - male_3_min

female_0_diff = female_0_max - female_0_min
female_1_diff = female_1_max - female_1_min
female_2_diff = female_2_max - female_2_min
female_3_diff = female_3_max - female_3_min

In [3]:
#* Table data
mean_table = [
    ["0: High School", male_0_mean, female_0_mean],
    ["1: Bachelor Degree", male_1_mean, female_1_mean],
    ["2: Master Degree", male_2_mean, female_2_mean],
    ["3: Phd", male_3_mean, female_3_mean]
]
median_table = [
    ["0: High School", male_0_median, female_0_median],
    ["1: Bachelor Degree", male_1_median, female_1_median],
    ["2: Master Degree", male_2_median, female_2_median],
    ["3: Phd", male_3_median, female_3_median]
]
std_table = [
    ["0: High School", male_0_std, female_0_std],
    ["1: Bachelor Degree", male_1_std, female_1_std],
    ["2: Master Degree", male_2_std, female_2_std],
    ["3: Phd", male_3_std, female_3_std]
]
min_table = [
    ["0: High School", male_0_min, female_0_min],
    ["1: Bachelor Degree", male_1_min, female_1_min],
    ["2: Master Degree", male_2_min, female_2_min],
    ["3: Phd", male_3_min, female_3_min]
]
max_table = [
    ["0: High School", male_0_max, female_0_max],
    ["1: Bachelor Degree", male_1_max, female_1_max],
    ["2: Master Degree", male_2_max, female_2_max],
    ["3: Phd", male_3_max, female_3_max]
]
diff_table = [
    ["0: High School", male_0_diff, female_0_diff],
    ["1: Bachelor Degree", male_1_diff, female_1_diff],
    ["2: Master Degree", male_2_diff, female_2_diff],
    ["3: Phd", male_3_diff, female_3_diff]
]

def table_creator(table_data):
    formatted_table_data = []
    headers_list = ["Education Level", "Male", "Female"]

    for row in table_data:
        formatted_row = []
        for value in row:
            if isinstance(value, (int, float)):
                formatted_value = f"{round(value):,.0f}"
            elif isinstance(value, str):
                formatted_value = value
            else:
                formatted_value = str(value)
            formatted_row.append(formatted_value)
        formatted_table_data.append(formatted_row)

    table = tabulate(formatted_table_data, headers_list, tablefmt="fancy_grid")
    return table

print("Mean Salary Table")
formatted_table = table_creator(mean_table)
print(formatted_table, '\\n')

print("Median Salary Table")
formatted_table = table_creator(median_table)
print(formatted_table, '\\n')

print("Standard Deviation Table")
formatted_table = table_creator(std_table)
print(formatted_table, '\\n')

print("Maximum Salary Table")
formatted_table = table_creator(max_table)
print(formatted_table, '\\n')

print("Minimum Salary Table")
formatted_table = table_creator(min_table)
print(formatted_table, '\\n')

print("Salary Range Table")
formatted_table = table_creator(diff_table)
print(formatted_table, '\\n')

Mean Salary Table
╒════════════════════╤═════════╤══════════╕
│ Education Level    │ Male    │ Female   │
╞════════════════════╪═════════╪══════════╡
│ 0: High School     │ 39,381  │ 30,756   │
├────────────────────┼─────────┼──────────┤
│ 1: Bachelor Degree │ 98,972  │ 89,165   │
├────────────────────┼─────────┼──────────┤
│ 2: Master Degree   │ 140,061 │ 122,695  │
├────────────────────┼─────────┼──────────┤
│ 3: Phd             │ 168,711 │ 160,266  │
╘════════════════════╧═════════╧══════════╛ \n
Median Salary Table
╒════════════════════╤═════════╤══════════╕
│ Education Level    │ Male    │ Female   │
╞════════════════════╪═════════╪══════════╡
│ 0: High School     │ 35,000  │ 26,000   │
├────────────────────┼─────────┼──────────┤
│ 1: Bachelor Degree │ 85,000  │ 75,000   │
├────────────────────┼─────────┼──────────┤
│ 2: Master Degree   │ 140,000 │ 120,000  │
├────────────────────┼─────────┼──────────┤
│ 3: Phd             │ 180,000 │ 165,000  │
╘════════════════════╧═════════╧══════════╛ \n
Standard Deviation Table
╒════════════════════╤════════╤══════════╕
│ Education Level    │ Male   │ Female   │
╞════════════════════╪════════╪══════════╡
│ 0: High School     │ 19,115 │ 13,295   │
├────────────────────┼────────┼──────────┤
│ 1: Bachelor Degree │ 42,624 │ 45,622   │
├────────────────────┼────────┼──────────┤
│ 2: Master Degree   │ 36,942 │ 41,693   │
├────────────────────┼────────┼──────────┤
│ 3: Phd             │ 35,781 │ 30,951   │
╘════════════════════╧════════╧══════════╛ \n
Maximum Salary Table
╒════════════════════╤═════════╤══════════╕
│ Education Level    │ Male    │ Female   │
╞════════════════════╪═════════╪══════════╡
│ 0: High School     │ 165,919 │ 154,207  │
├────────────────────┼─────────┼──────────┤
│ 1: Bachelor Degree │ 250,000 │ 215,000  │
├────────────────────┼─────────┼──────────┤
│ 2: Master Degree   │ 228,000 │ 198,000  │
├────────────────────┼─────────┼──────────┤
│ 3: Phd             │ 250,000 │ 220,000  │
╘════════════════════╧═════════╧══════════╛ \n
Minimum Salary Table
╒════════════════════╤════════╤══════════╕
│ Education Level    │ Male   │ Female   │
╞════════════════════╪════════╪══════════╡
│ 0: High School     │ 25,000 │ 25,000   │
├────────────────────┼────────┼──────────┤
│ 1: Bachelor Degree │ 350    │ 500      │
├────────────────────┼────────┼──────────┤
│ 2: Master Degree   │ 40,000 │ 32,000   │
├────────────────────┼────────┼──────────┤
│ 3: Phd             │ 579    │ 55,000   │
╘════════════════════╧════════╧══════════╛ \n
Salary Range Table
╒════════════════════╤═════════╤══════════╕
│ Education Level    │ Male    │ Female   │
╞════════════════════╪═════════╪══════════╡
│ 0: High School     │ 140,919 │ 129,207  │
├────────────────────┼─────────┼──────────┤
│ 1: Bachelor Degree │ 249,650 │ 214,500  │
├────────────────────┼─────────┼──────────┤
│ 2: Master Degree   │ 188,000 │ 166,000  │
├────────────────────┼─────────┼──────────┤
│ 3: Phd             │ 249,421 │ 165,000  │
╘════════════════════╧═════════╧══════════╛ \n

## Findings across different Education Levels:
- The largest salary difference occurs in Master's Degrees when looking at mean/ median. 
- The smallest salary difference occurs in Bachelor's Degrees when looking at mean/ median.