In [1]:
import pandas as pd
from tabulate import tabulate
salary_df = pd.read_csv("Salary.csv") 
male_df = salary_df[salary_df.Gender == "Male"]
female_df = salary_df[salary_df.Gender == "Female"]

In [2]:
# Working out appropriate years of experience groups based on max and min
years_exp_max = salary_df["Years of Experience"].max()
years_exp_min = salary_df["Years of Experience"].min()

In [3]:

#! Mean 
male_0_4_years_mean = round(male_df[(male_df["Years of Experience"] > -1) & (male_df["Years of Experience"] < 5)].Salary.mean(), 2)
male_5_9_years_mean = round(male_df[(male_df["Years of Experience"] > 4) & (male_df["Years of Experience"] < 10)].Salary.mean(), 2)
male_10_19_years_mean = round(male_df[(male_df["Years of Experience"] > 9) & (male_df["Years of Experience"] < 20)].Salary.mean(), 2)
male_20_plus_years_mean = round(male_df[(male_df["Years of Experience"] > 19) & (male_df["Years of Experience"] < 100)].Salary.mean(), 2)

female_0_4_years_mean = round(female_df[(female_df["Years of Experience"] > -1) & (female_df["Years of Experience"] < 5)].Salary.mean(), 2)
female_5_9_years_mean = round(female_df[(female_df["Years of Experience"] > 4) & (female_df["Years of Experience"] < 10)].Salary.mean(), 2)
female_10_19_years_mean = round(female_df[(female_df["Years of Experience"] > 9) & (female_df["Years of Experience"] < 20)].Salary.mean(), 2)
female_20_plus_years_mean = round(female_df[(female_df["Years of Experience"] > 19) & (female_df["Years of Experience"] < 100)].Salary.mean(), 2)

#! Median
male_0_4_years_median = round(male_df[(male_df["Years of Experience"] > -1) & (male_df["Years of Experience"] < 5)].Salary.median(), 2)
male_5_9_years_median = round(male_df[(male_df["Years of Experience"] > 4) & (male_df["Years of Experience"] < 10)].Salary.median(), 2)
male_10_19_years_median = round(male_df[(male_df["Years of Experience"] > 9) & (male_df["Years of Experience"] < 20)].Salary.median(), 2)
male_20_plus_years_median = round(male_df[(male_df["Years of Experience"] > 19) & (male_df["Years of Experience"] < 100)].Salary.median(), 2)

female_0_4_years_median = round(female_df[(female_df["Years of Experience"] > -1) & (female_df["Years of Experience"] < 5)].Salary.median(), 2)
female_5_9_years_median = round(female_df[(female_df["Years of Experience"] > 4) & (female_df["Years of Experience"] < 10)].Salary.median(), 2)
female_10_19_years_median = round(female_df[(female_df["Years of Experience"] > 9) & (female_df["Years of Experience"] < 20)].Salary.median(), 2)
female_20_plus_years_median = round(female_df[(female_df["Years of Experience"] > 19) & (female_df["Years of Experience"] < 100)].Salary.median(), 2)

#! STD 
male_0_4_years_std = round(male_df[(male_df["Years of Experience"] > -1) & (male_df["Years of Experience"] < 5)].Salary.std(), 2)
male_5_9_years_std = round(male_df[(male_df["Years of Experience"] > 4) & (male_df["Years of Experience"] < 10)].Salary.std(), 2)
male_10_19_years_std = round(male_df[(male_df["Years of Experience"] > 9) & (male_df["Years of Experience"] < 20)].Salary.std(), 2)
male_20_plus_years_std = round(male_df[(male_df["Years of Experience"] > 19) & (male_df["Years of Experience"] < 100)].Salary.std(), 2)

female_0_4_years_std = round(female_df[(female_df["Years of Experience"] > -1) & (female_df["Years of Experience"] < 5)].Salary.std(), 2)
female_5_9_years_std = round(female_df[(female_df["Years of Experience"] > 4) & (female_df["Years of Experience"] < 10)].Salary.std(), 2)
female_10_19_years_std = round(female_df[(female_df["Years of Experience"] > 9) & (female_df["Years of Experience"] < 20)].Salary.std(), 2)
female_20_plus_years_std = round(female_df[(female_df["Years of Experience"] > 19) & (female_df["Years of Experience"] < 100)].Salary.std(), 2)

#! Max
male_0_4_years_max = round(male_df[(male_df["Years of Experience"] > -1) & (male_df["Years of Experience"] < 5)].Salary.max(), 2)
male_5_9_years_max = round(male_df[(male_df["Years of Experience"] > 4) & (male_df["Years of Experience"] < 10)].Salary.max(), 2)
male_10_19_years_max = round(male_df[(male_df["Years of Experience"] > 9) & (male_df["Years of Experience"] < 20)].Salary.max(), 2)
male_20_plus_years_max = round(male_df[(male_df["Years of Experience"] > 19) & (male_df["Years of Experience"] < 100)].Salary.max(), 2)

female_0_4_years_max = round(female_df[(female_df["Years of Experience"] > -1) & (female_df["Years of Experience"] < 5)].Salary.max(), 2)
female_5_9_years_max = round(female_df[(female_df["Years of Experience"] > 4) & (female_df["Years of Experience"] < 10)].Salary.max(), 2)
female_10_19_years_max = round(female_df[(female_df["Years of Experience"] > 9) & (female_df["Years of Experience"] < 20)].Salary.max(), 2)
female_20_plus_years_max = round(female_df[(female_df["Years of Experience"] > 19) & (female_df["Years of Experience"] < 100)].Salary.max(), 2)

#! Min
male_0_4_years_min = round(male_df[(male_df["Years of Experience"] > -1) & (male_df["Years of Experience"] < 5)].Salary.min(), 2)
male_5_9_years_min = round(male_df[(male_df["Years of Experience"] > 4) & (male_df["Years of Experience"] < 10)].Salary.min(), 2)
male_10_19_years_min = round(male_df[(male_df["Years of Experience"] > 9) & (male_df["Years of Experience"] < 20)].Salary.min(), 2)
male_20_plus_years_min = round(male_df[(male_df["Years of Experience"] > 19) & (male_df["Years of Experience"] < 100)].Salary.min(), 2)

female_0_4_years_min = round(female_df[(female_df["Years of Experience"] > -1) & (female_df["Years of Experience"] < 5)].Salary.min(), 2)
female_5_9_years_min = round(female_df[(female_df["Years of Experience"] > 4) & (female_df["Years of Experience"] < 10)].Salary.min(), 2)
female_10_19_years_min = round(female_df[(female_df["Years of Experience"] > 9) & (female_df["Years of Experience"] < 20)].Salary.min(), 2)
female_20_plus_years_min = round(female_df[(female_df["Years of Experience"] > 19) & (female_df["Years of Experience"] < 100)].Salary.min(), 2)

#! Range
male_0_4_years_diff = male_0_4_years_max - male_0_4_years_min
male_5_9_years_diff = male_5_9_years_max - male_5_9_years_min
male_10_19_years_diff = male_10_19_years_max - male_10_19_years_min
male_20_plus_years_diff = male_20_plus_years_max - male_20_plus_years_min

female_0_4_years_diff = female_0_4_years_max - female_0_4_years_min
female_5_9_years_diff = female_5_9_years_max - female_5_9_years_min
female_10_19_years_diff = female_10_19_years_max - female_10_19_years_min
female_20_plus_years_diff = female_20_plus_years_max - female_20_plus_years_min

In [4]:
#* Table data
mean_table = [
    ["0-4 Years", male_0_4_years_mean, female_0_4_years_mean],
    ["5-10 Years", male_5_9_years_mean, female_5_9_years_mean],
    ["11-20 Years", male_10_19_years_mean, female_10_19_years_mean],
    ["20+ Years", male_20_plus_years_mean, female_20_plus_years_mean]
]
median_table = [
    ["0-4 Years", male_0_4_years_median, female_0_4_years_median],
    ["5-10 Years", male_5_9_years_median, female_5_9_years_median],
    ["11-20 Years", male_10_19_years_median, female_10_19_years_median],
    ["20+ Years", male_20_plus_years_median, female_20_plus_years_median]
]
std_table = [
    ["0-4 Years", male_0_4_years_std, female_0_4_years_std],
    ["5-10 Years", male_5_9_years_std, female_5_9_years_std],
    ["11-20 Years", male_10_19_years_std, female_10_19_years_std],
    ["20+ Years", male_20_plus_years_std, female_20_plus_years_std]
]
min_table = [
    ["0-4 Years", male_0_4_years_min, female_0_4_years_min],
    ["5-10 Years", male_5_9_years_min, female_5_9_years_min],
    ["11-20 Years", male_10_19_years_min, female_10_19_years_min],
    ["20+ Years", male_20_plus_years_min, female_20_plus_years_min]
]
max_table = [
    ["0-4 Years", male_0_4_years_max, female_0_4_years_max],
    ["5-10 Years", male_5_9_years_max, female_5_9_years_max],
    ["11-20 Years", male_10_19_years_max, female_10_19_years_max],
    ["20+ Years", male_20_plus_years_max, female_20_plus_years_max]
]
diff_table = [
    ["0-4 Years", male_0_4_years_diff, female_0_4_years_diff],
    ["5-10 Years", male_5_9_years_diff, female_5_9_years_diff],
    ["11-20 Years", male_10_19_years_diff, female_10_19_years_diff],
    ["20+ Years", male_20_plus_years_diff, female_20_plus_years_diff]
]
#* Table creator function
def table_creator(table_data):
    formatted_table_data = []
    headers_list = ["Years of Experience", "Male", "Female"]

    for row in table_data:
        formatted_row = []
        for value in row:
            if isinstance(value, (int, float)):
                formatted_value = f"{round(value):,.0f}"  
            elif isinstance(value, str):
                formatted_value = value  
            else:
                formatted_value = str(value)  
            formatted_row.append(formatted_value)
        formatted_table_data.append(formatted_row)

    table = tabulate(formatted_table_data, headers_list, tablefmt="fancy_grid")
    return table

print("Mean Salary Table")
formatted_table = table_creator(mean_table)
print(formatted_table, '\n')

print("Median Salary Table")
formatted_table = table_creator(median_table)
print(formatted_table, '\n')

print("Standard Deviation Table")
formatted_table = table_creator(std_table)
print(formatted_table, '\n')

print("Maximum Salary Table")
formatted_table = table_creator(max_table)
print(formatted_table, '\n')

print("Minimum Salary Table")
formatted_table = table_creator(min_table)
print(formatted_table, '\n')

print("Salary Range Table")
formatted_table = table_creator(diff_table)
print(formatted_table, '\n')

Mean Salary Table
╒═══════════════════════╤═════════╤══════════╕
│ Years of Experience   │ Male    │ Female   │
╞═══════════════════════╪═════════╪══════════╡
│ 0-4 Years             │ 69,652  │ 56,507   │
├───────────────────────┼─────────┼──────────┤
│ 5-10 Years            │ 121,101 │ 118,912  │
├───────────────────────┼─────────┼──────────┤
│ 11-20 Years           │ 165,569 │ 158,174  │
├───────────────────────┼─────────┼──────────┤
│ 20+ Years             │ 190,236 │ 179,126  │
╘═══════════════════════╧═════════╧══════════╛

Median Salary Table
╒═══════════════════════╤═════════╤══════════╕
│ Years of Experience   │ Male    │ Female   │
╞═══════════════════════╪═════════╪══════════╡
│ 0-4 Years             │ 63,901  │ 55,000   │
├───────────────────────┼─────────┼──────────┤
│ 5-10 Years            │ 120,000 │ 115,000  │
├───────────────────────┼─────────┼──────────┤
│ 11-20 Years           │ 170,000 │ 160,000  │
├───────────────────────┼─────────┼──────────┤
│ 20+ Years             │ 185,982 │ 180,000  │
╘═══════════════════════╧═════════╧══════════╛

Standard Deviation Table
╒═══════════════════════╤════════╤══════════╕
│ Years of Experience   │ Male   │ Female   │
╞═══════════════════════╪════════╪══════════╡
│ 0-4 Years             │ 29,601 │ 26,451   │
├───────────────────────┼────────┼──────────┤
│ 5-10 Years            │ 36,022 │ 32,471   │
├───────────────────────┼────────┼──────────┤
│ 11-20 Years           │ 26,313 │ 31,979   │
├───────────────────────┼────────┼──────────┤
│ 20+ Years             │ 23,782 │ 16,715   │
╘═══════════════════════╧════════╧══════════╛

Maximum Salary Table
╒═══════════════════════╤═════════╤══════════╕
│ Years of Experience   │ Male    │ Female   │
╞═══════════════════════╪═════════╪══════════╡
│ 0-4 Years             │ 160,000 │ 182,000  │
├───────────────────────┼─────────┼──────────┤
│ 5-10 Years            │ 195,000 │ 195,000  │
├───────────────────────┼─────────┼──────────┤
│ 11-20 Years           │ 220,000 │ 215,000  │
├───────────────────────┼─────────┼──────────┤
│ 20+ Years             │ 250,000 │ 220,000  │
╘═══════════════════════╧═════════╧══════════╛

Minimum Salary Table
╒═══════════════════════╤═════════╤══════════╕
│ Years of Experience   │ Male    │ Female   │
╞═══════════════════════╪═════════╪══════════╡
│ 0-4 Years             │ 350     │ 500      │
├───────────────────────┼─────────┼──────────┤
│ 5-10 Years            │ 50,000  │ 45,000   │
├───────────────────────┼─────────┼──────────┤
│ 11-20 Years           │ 80,000  │ 55,000   │
├───────────────────────┼─────────┼──────────┤
│ 20+ Years             │ 110,000 │ 121,450  │
╘═══════════════════════╧═════════╧══════════╛

Salary Range Table
╒═══════════════════════╤═════════╤══════════╕
│ Years of Experience   │ Male    │ Female   │
╞═══════════════════════╪═════════╪══════════╡
│ 0-4 Years             │ 159,650 │ 181,500  │
├───────────────────────┼─────────┼──────────┤
│ 5-10 Years            │ 145,000 │ 150,000  │
├───────────────────────┼─────────┼──────────┤
│ 11-20 Years           │ 140,000 │ 160,000  │
├───────────────────────┼─────────┼──────────┤
│ 20+ Years             │ 140,000 │ 98,550   │
╘═══════════════════════╧═════════╧══════════╛

### I think I'm cooking in  the other page..